/* Background image styling */
body {
  background: url('sky-clouds-background_1127-3849.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  color: white; 
}

/* Styling for the marquee */
.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 100%; /* Full width */
  background-color: rgb(244, 16, 16); /* Background color */
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: none;
}

/* Marquee scrolling effect */
.marquee span {
  display: inline-block;
  animation: marquee 30s linear infinite;
  background: linear-gradient(90deg, #0d0909, #020118);
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Styling for the weather info box */
.weather-box {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #fff;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}

/* Hover effect for the weather box */
.weather-box:hover {
  border-color: #00ffcc;
  box-shadow: 0 0 15px rgba(0, 255, 204, 0.8),
    0 0 30px rgba(0, 255, 204, 0.6),
    0 0 45px rgba(0, 255, 204, 0.4);
  transform: scale(1.03);
}

/* Button styling */
.animated-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 9px #999;
  display: block;
  animation: pulse 2s infinite;
  transition: all 0.3s ease;
  max-width: 200px;
}

.animated-button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}

.animated-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Loading screen styling */
.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 24px;
  z-index: 10;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
